{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Blog board</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
{% block content %}
<div class="container">
    <!-- Content here -->
 <div class="blog-posts"></div>
    <h1>{{ object.title }}</h1>
    <h4> Posted by : {{ object.author.username }}</h4>
<p>{{ object.content }}</p>
<p>Post ID: {{ post.id }}</p>  <!-- Add this line to see the post ID -->

<div class="deflex">
    <a class="btn btn-primary" href="{{ form.get_update_url }}">Updates</a>
    <a class="btn btn-outline-primary" href="" >Delete</a>
 </div>
</div> 
</div>
{% endblock content %}
<!-- <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a> -->