{% extends 'layout.html' %}
{% block title %}
<title>Blog board</title>
{% endblock title %}
{% block content %}
<section class="main-section">
    <div class="container">
        <h1>Blog Board</h1>
        <div class="blog-posts">
            <!-- Blog Post 1 -->
            {% for blog in blogs %}
            <div class="blog-post">
                <ul>
                    <li>
                        <h2>
                            {{ blog.title }}
                        </h2>
                        <p>
                            {{ blog.content }}

                        </p>
                    </li>
                </ul>
                <div class="post-meta">
                    <span>Posted by <a href="#">John Doe</a> on <time datetime="2022-01-01">January 1,
                            2022</time></span>
                    <span><a href="#">Read More</a></span>
                </div>
            </div>
            {% endfor %}
            <!-- Blog Post 2 -->
            <!-- <div class="blog-post">
          <h2>Blog Post 2 Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          <div class="post-meta">
            <span>Posted by <a href="#">Jane Doe</a> on <time datetime="2022-01-15">January 15, 2022</time></span>
            <span><a href="#">Read More</a></span>
          </div>
        </div> -->
            <!-- Add more blog posts here -->
        </div>
    </div>
</section>
{% endblock content %}