{% extends 'layout.html' %}
{% block title %}
<title>Blog board</title>
{% endblock title %}
{% block style %}
<style>
    .main-section {
        background-color: #f2f2f2;
        padding: 40px 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .blog-post {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

    .blog-post:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .blog-post img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .blog-post h2 {
        font-weight: bold;
        margin-top: 0;
        font-size: 18px;
    }

    .blog-post p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .post-meta {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #666;
    }

    .post-meta a {
        color: #337ab7;
        text-decoration: none;
    }

    .post-meta a:hover {
        color: #23527c;
    }
</style>
{% endblock style %}

{% block content %}
<section class="main-section">
    <div class="container">
        <h1>Blog Board</h1>
        <div class="blog-posts">
            <!-- Blog Post 1 -->
            {% for blog in blogs %}
            <div class="blog-post">
                <ul>
                    <li>
                        <h2>
                            {{ blog.title }}
                        </h2>
                        <p>
                            {{ blog.content }}

                        </p>
                    </li>
                </ul>
                <div class="post-meta">
                    <span>Posted by <a href="#">John Doe</a> on <time datetime="2022-01-01">January 1,
                            2022</time></span>
                    <span><a href="#">Read More</a></span>
                </div>
            </div>
            {% endfor %}
            <!-- Blog Post 2 -->
            <!-- <div class="blog-post">
          <h2>Blog Post 2 Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
          <div class="post-meta">
            <span>Posted by <a href="#">Jane Doe</a> on <time datetime="2022-01-15">January 15, 2022</time></span>
            <span><a href="#">Read More</a></span>
          </div>
        </div> -->
            <!-- Add more blog posts here -->
        </div>
    </div>
</section>
{% endblock content %}