{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Blog board</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock style %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h2>Login</h2>
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
    </div>
</body>
</html>
  
{% endblock content %}