{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Blog board</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock style %}
{% block content %}

    <div class="container">
        <div class="welcome-message">
            <h1>Welcome to Our Platform!</h1>
            <p>We're excited to have you on board. Please login to access our features.</p>
        </div>
        <div class="call-to-action">
            <button>
                <a href="{% url 'login' %}">Login</a>
            </button>
        </div>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
    </div>

  
{% endblock content %}